Repository hbict/ctt: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm exec prettier --write, pnpm run lint, ~~ Generated by projen. To modify, edit .projenrc.ts and run "npx projen".

.lintstagedrc.json:

{
  "*.md": "pnpm exec prettier --write",
  "*.ts": "pnpm run lint",
  "//": "~~ Generated by projen. To modify, edit .projenrc.ts and run \"npx projen\"."
}

chore(deps): upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade dependencies (#94)
  package.json
  pnpm-lock.yaml
Due: none

Update Vitest configuration for mock behavior
  packages/ctt/src/vitest.ts
Due: pnpm run lint

feat(ctt): adds publishing
  .github/copilot-instructions.md
  .github/instructions/test.instructions.md
  examples/ctp/.projen/tasks.json
  examples/ctp/package.json
  packages/ctt/.projen/tasks.json
  packages/ctt/__tests__/__snapshots__/ctp.test.ts.snap
  packages/ctt/package.json
  packages/ctt/src/ctp.ts
  projenrc/package-ctt.ts
Due: pnpm exec prettier --write, pnpm run lint

feat(ctt): allows package.json version to persist
  examples/ctp/.projen/tasks.json
  packages/ctt/.projen/tasks.json
  packages/ctt/__tests__/__snapshots__/cta.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctb.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctc.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctp.test.ts.snap
  packages/ctt/__tests__/cta.test.ts
  packages/ctt/__tests__/ctb.test.ts
  packages/ctt/__tests__/ctc.test.ts
  packages/ctt/__tests__/ctp.test.ts
  packages/ctt/src/ctb.ts
  packages/ctt/src/ctp.ts
Due: pnpm run lint

chore(ctt): release 0.1.0-rc.0
  packages/ctt/package.json
Due: none

chore(deps): upgrade dependencies
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/upgrade-main.yml
  package.json
  pnpm-lock.yaml
Due: none

chore: updates snapshots
  packages/ctt/__tests__/__snapshots__/cta.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctb.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctc.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctp.test.ts.snap
Due: none

fix(ctt): changes pull request lint to run on pull request
  packages/ctt/src/ctb.ts
Due: pnpm run lint

fix(ctt): temp fix
  packages/ctt/src/ctb.ts
Due: pnpm run lint

fix(ctt): wip
  packages/ctt/src/ctb.ts
Due: pnpm run lint

chore: self mutation
  .github/workflows/pull-request-lint.yml
  packages/ctt/src/ctb.ts
Due: pnpm run lint

fix(ctt): changes pull request lint to run on pull request (#98)
  .github/workflows/pull-request-lint.yml
  packages/ctt/__tests__/__snapshots__/cta.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctb.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctc.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctp.test.ts.snap
  packages/ctt/src/ctb.ts
Due: pnpm run lint

chore(deps): upgrade dependencies (#96)
  .github/workflows/build.yml
  .github/workflows/release.yml
  .github/workflows/upgrade-main.yml
  package.json
  packages/ctt/__tests__/__snapshots__/cta.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctb.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctc.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctp.test.ts.snap
  pnpm-lock.yaml
Due: none

fix(ctt): fixes the checks not running after an update-snapshots commit
  packages/ctt/src/update-snapshots-workflow.ts
Due: pnpm run lint

fix(ctt): fixes the checks not running after an update-snapshots commit (#99)
  .github/workflows/update-snapshots.yml
  packages/ctt/__tests__/__snapshots__/cta.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctb.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctc.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctp.test.ts.snap
  packages/ctt/src/update-snapshots-workflow.ts
Due: pnpm run lint

fix(ctt): install wasn't working for github agent
  packages/ctt/src/ctb.ts
Due: pnpm run lint

fix(ctt): install wasn't working for github agent (#100)
  .projen/tasks.json
  examples/cta/.projen/tasks.json
  examples/ctc/.projen/tasks.json
  examples/ctp/.projen/tasks.json
  packages/ctt/.projen/tasks.json
  packages/ctt/__tests__/__snapshots__/cta.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctb.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctc.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctp.test.ts.snap
  packages/ctt/src/ctb.ts
Due: pnpm run lint

feat(ctt): add component for copilot instructions (#93)
  .gitattributes
  .github/copilot-instructions-test.md
  .github/copilot-instructions.md
  .github/instructions/test.instructions.md
  .github/instructions/typescript.instructions.md
  .gitignore
  .projen/files.json
  packages/ctt/__tests__/__snapshots__/cta.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctb.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctc.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctp.test.ts.snap
  packages/ctt/__tests__/cta.test.ts
  packages/ctt/__tests__/ctb.test.ts
  packages/ctt/__tests__/ctc.test.ts
  packages/ctt/__tests__/ctp.test.ts
  packages/ctt/src/copilot-instruction.ts
  packages/ctt/src/copilot-instructions.ts
  packages/ctt/src/ctb.ts
  packages/ctt/src/index.ts
  projenrc/monorepo.ts
Due: pnpm exec prettier --write, pnpm run lint

chore(deps): upgrade dependencies (#101)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade dependencies (#102)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade dependencies (#103)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade dependencies (#104)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade dependencies (#105)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade dependencies (#106)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade dependencies (#107)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade dependencies (#108)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade dependencies (#109)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade dependencies (#110)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade dependencies (#111)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade dependencies (#112)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): upgrade dependencies (#113)
  package.json
  pnpm-lock.yaml
Due: none

fix(ctt): ctt cli now works
  examples/cta/.projen/deps.json
  examples/cta/.projen/tasks.json
  examples/cta/package.json
  examples/ctc/.projen/deps.json
  examples/ctc/.projen/tasks.json
  examples/ctc/package.json
  examples/ctp/.projen/deps.json
  examples/ctp/.projen/tasks.json
  examples/ctp/package.json
  packages/ctt/.projen/deps.json
  packages/ctt/.projen/tasks.json
  packages/ctt/package.json
  packages/ctt/src/cli/ctt.ts
  packages/ctt/src/ctb.ts
  packages/ctt/src/ctp.ts
  pnpm-lock.yaml
  projenrc/example-cta.ts
  projenrc/example-ctc.ts
  projenrc/example-ctp.ts
  projenrc/package-ctt.ts
Due: pnpm run lint

test(ctt): adds e2e tests for the cli
  eslint.config.mjs
  examples/cta/eslint.config.mjs
  examples/ctc/eslint.config.mjs
  examples/ctp/eslint.config.mjs
  packages/ctt/.gitattributes
  packages/ctt/.gitignore
  packages/ctt/.projen/files.json
  packages/ctt/.projen/tasks.json
  packages/ctt/__tests__/__snapshots__/cta.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctb.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctc.test.ts.snap
  packages/ctt/__tests__/__snapshots__/ctp.test.ts.snap
  packages/ctt/e2e/cli/ctt-e2e-test.ts
  packages/ctt/e2e/vitest.config.mts
  packages/ctt/eslint.config.mjs
  packages/ctt/package.json
  packages/ctt/src/calms-eslint.ts
  packages/ctt/tsconfig.json
  projenrc/package-ctt.ts
Due: pnpm run lint
